*.so
*.pyc
build
dist
website/*.html
website/license.txt
pythran/nt2
pythran/boost
pythran/xsimd
parsetab.py

.eggs/*
pythran.egg-info/*

docs/index.rst
docs/LICENSE.rst
docs/Changelog.rst
docs/AUTHORS.rst
docs/SUPPORT.rst

docs/_build/*
