*.so
*.pyc
build
dist
website/*.html
website/license.txt
pythran/nt2
pythran/boost
parsetab.py

pythran.egg-info/*
.eggs/*
.pytest_cache/*
pythran_test.*
cli_foo*

pythran/tests/cython/add.cpp
pythran/tests/cython/diffuse.cpp

pythran/tests/test_distutils/MANIFEST
pythran/tests/test_distutils/a.cpp
pythran/tests/test_distutils_packaged/MANIFEST
pythran/tests/test_distutils_packaged/a.cpp