include AUTHORS
include Changelog
include LICENSE
include README.rst
include docs/*
include pythran/*.cfg
recursive-include pythran/pythonic *
recursive-include pythran/boost *
recursive-include pythran/xsimd *
