[sys]
# BOOST_SIMD_CONFIG_SUPPORT_POSIX_MEMALIGN fixes a temporary bug in nt2 detection on some MACOSX config
cppflags = -DENABLE_PYTHON_MODULE -DUSE_GMP -DBOOST_SIMD_CONFIG_SUPPORT_POSIX_MEMALIGN
cxxflags = -std=c++11
ldflags =   -lboost_python-mt
            -lgmp
            -lgmpxx

[user]

cxx = g++
cppflags = -DNDEBUG
cxxflags = -O2 -g -fno-math-errno
ldflags = -fPIC
