[sys]

cppflags = -DENABLE_PYTHON_MODULE -DUSE_GMP
cxxflags = -std=c++11
ldflags =   -lboost_python
            -lgmp
            -lgmpxx

[user]

cxx = c++
cppflags =
cxxflags = -O2 -g -fno-math-errno
ldflags = -fPIC -ltcmalloc_minimal

[pythran]

# optimization chain used by Pythran
# It's a list of space separated optimization to apply in the given order
optimizations = pythran.optimizations.ConstantFolding
                pythran.optimizations.IterTransformation
                pythran.optimizations.Pow2
                pythran.optimizations.LoopFullUnrolling

[typing]

# maximum number of container access taken into account during type inference
# increasing this value inreases typing accuracy
# but slows down compilation time, to the point of making g++ crash
max_container_type = 2

# maximum number of combiner per user function
# increasing this value inreases typing accuracy
# but slows down compilation time, to the point of making g++ crash
max_combiner = 2

# set this to true to enable a costly yet more accurate type inference algorithm
# This algorithms generates code diffcult to compile for g++, but not clang++
enable_two_steps_typing = False
