@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold);
@import url(http://fonts.googleapis.com/css?family=Syncopate);

/* ------------------------------------------------------------------------ */
/* generic                                                                  */
/* ------------------------------------------------------------------------ */

html,body {
	font-size: 14px;
    font-family: Ubuntu, sans-serif;
    color: #2e3436;
	background-color: #ffffff;
}

#wrap {
}

a {
    text-decoration: none;
    color: #a40000;
}

a:hover {
    text-decoration: underline;
}

div.grid_clear {
	clear: both;
}

/* ::: code, pre, etc. ::: */

tt, code, kbd, samp, pre {
    background: #f9f9f9;
    color: #000000;
    font-family: Consolas, Lucida Console, Monaco, Bitstream Vera Sans Mono, monospace
}

pre {
    border: solid #bbbbbb 1px;
    border-left: solid #bbbbbb 5px;
    padding: 2px 2px 2px 6px;
    font-size:12px;
    line-height:21px;    
}

tt, code, kbd, samp {
    font-size:0.85em;
}

code {
    border: 1px solid #cccccc;
    padding: 0.2em;
    padding-bottom: 0;
}

pre code {
    font-size: 1em; /* for nested pre->code */
    border: 0
}

/* ------------------------------------------------------------------------ */
/* block: header                                                            */
/* ------------------------------------------------------------------------ */

#header h1, #menu ul {
	margin-bottom: 0;
}

#header, #menu {
	margin-top: 1em;
	font-family: Syncopate;
	text-transform: lowercase;
}

#header h1 {
	font-size: 1.8em;
	white-space: nowrap;
}

#header h1 a {
    color: #2e3436;
}

img.left {display: inline; float: left; margin: 0 1.5em .75em 0;}
img.right {display: inline; float: right; margin: 0 0 .75em .75em;}

/* ------------------------------------------------------------------------ */
/* block: menu                                                              */
/* ------------------------------------------------------------------------ */

#menu ul {
	float: right;
    list-style: none;
	text-align: right;
	text-align: right;
}

#menu ul li {
	float: left;
	font-size: .9em;
	margin-top: .9em;
	border-top: 1px dotted #ffffff;
}

#menu ul li:hover {
	border-top-color: #a40000;
	border-top-style: solid;
}

#menu ul li a:hover {
	text-decoration: none;
}

#menu ul li.current a {
	color: #2e3436;
}

#menu ul li.current:hover {
	border-top-color: #ffffff;
}

/* ------------------------------------------------------------------------ */
/* block: content                                                           */
/* ------------------------------------------------------------------------ */

#content .wrap {
	border-top: 3px double #2e3436;
    margin-top: .8em;
    padding-top: 1em;
}

/* Posts Header */

#content h1 {
	font-size: 1.7em;
}
#content h2 {
	font-size: 1.4em;
}
#content h3 {
	font-size: 1.2em;
}
#content h4 {
	font-size: 1.1em;
}
#content h5 {
	font-size: 1em;
}


.post-date {
    color: gray;
    margin: -0.5em 0 1.3em 0em;
    font-size: small;
}

/* Posts List */

p.post-title {
    margin-bottom: 0.2em;
    /*font-weight: bold;*/
}
p.post-title a {
    font-size: 1.2em;
}
p.post-summary {
    /*margin: 0.5em 0 0.5em 1em;*/
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
p.post-title span {
    margin-left: 1em;
    color: gray;
}

/* Misc */

div.update {
    margin: 0 0 1em 0;
    background-color: #fee9c9;
    border: solid #734702 1px;
    border-left: solid #734702 5px;
    padding: 1em 1em 0 1em;
}

/* ------------------------------------------------------------------------ */
/* block: footer                                                            */
/* ------------------------------------------------------------------------ */

#footer {
	margin-top: 3em;
	margin-bottom: 1em;
    color: gray;
    text-align: center;
    font-size: small;
}
#footer a {
    color: gray;
}
