name: arm

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        python-version: ["3.13"]
        cpp-version: [clang]
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        pip install scipy-openblas64
        pip install pytest-xdist
        sudo apt install ${{ matrix.cpp-version }}
        sudo apt install libopenblas-dev  # for meson integration testing
        pip install scipy
    - name: Setup
      run: |
        python -m pip install .
        python -m pip install . 'pythran[build]'
        python -m pip install . 'pythran[test]'
        printf '[compiler]\nblas=scipy-openblas\n' > ~/.config/.pythranrc
        printf 'cflags=-std=c++14 -Wall -Wno-unknown-pragmas -Wno-unused-local-typedefs -Wno-cpp -Wno-deprecated-declarations -D_GLIBCXX_DEBUG -Werror\n' >> ~/.config/.pythranrc
    - name: Testing minimal CLI
      run: |
        pythran --version
        pythran --help
        pythran-config -vvv
    - name: Testing sequential
      run: |
        export CC=${{ matrix.cpp-version }}
        export CXX=${{ matrix.cpp-version }}
        pytest pythran/tests/test_*.py -v -x --numprocesses=auto $PYTEST_ARGS
