name: i386

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    # borrowed from numpy's .github/workflows/linux.yml
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux_2_28_i686
    steps:
    - name: Checkout and initialize submodules
      # actions/checkout doesn't work in a container image
      run: |
        git config --global --add safe.directory $PWD
        if [ $GITHUB_EVENT_NAME != pull_request ]; then
            git clone --recursive --branch=$GITHUB_REF_NAME https://github.com/${GITHUB_REPOSITORY}.git $GITHUB_WORKSPACE
            git reset --hard $GITHUB_SHA
        else
            git clone --recursive https://github.com/${GITHUB_REPOSITORY}.git $GITHUB_WORKSPACE
            git fetch origin $GITHUB_REF:my_ref_name
            git checkout $GITHUB_BASE_REF
            git -c user.email="you@example.com" merge --no-commit my_ref_name
        fi

    - name: build
      run: |
        python3.12 -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        python -m pip install .
        python -m pip install . 'pythran[build]'
        python -m pip install . 'pythran[test]'
        pip install pytest-xdist
        mkdir ~/.config
        printf '[compiler]\nblas=none\n' > $HOME/pythranrc

    - name: test
      run: |
        source venv/bin/activate
        PYTHRANRC=$HOME/pythranrc pytest pythran/tests/test_*.py -v -x --numprocesses=auto $PYTEST_ARGS
