name: ms

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
          architectures: [x86, x64]
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
        architecture: ${{ matrix.architecture }}
    - name: Install clang-cl
      run: |
        choco install llvm --yes
        @("C:/Program Files/LLVM/bin") +  (Get-Content $env:GITHUB_PATH) | Set-Content $env:GITHUB_PATH
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install scipy wheel pythran-openblas pytest
    - name: Setup
      run: |
        python setup.py install
    - name: Testing sequential
      run: |
        pytest pythran/tests/test_ndarray.py -v -x
        pytest pythran/tests/test_scipy.py -v -x
        pytest pythran/tests/test_base.py -v -x
        pytest pythran/tests/test_advanced.py -v -x
